DB_NAME=
DB_USERNAME=
DB_PASSWORD=
APP_BASE_URL=
GF_SECURITY_ADMIN_PASSWORD=
MONITORING_BASIC_AUTH_USERNAME=
MONITORING_BASIC_AUTH_PASSWORD=
YA_ID=
YA_SECRET=
BOOTSTRAP_ADMIN_ENABLED=
BOOTSTRAP_ADMIN_USERNAME=
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=
APP_SECURITY_ALLOWED_ORIGINS=
APP_SECURITY_DOCS_ENABLED=
APP_SECURITY_PROMETHEUS_ENABLED=
APP_SECURITY_SECURE_COOKIE=
