global
    log stdout format raw local0

userlist monitoring_users
    user ${MONITORING_BASIC_AUTH_USERNAME} insecure-password ${MONITORING_BASIC_AUTH_PASSWORD}

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

cache static_cache
    total-max-size 50
    max-object-size 2000000
    max-age 3600

frontend http
    bind *:443 ssl crt /usr/local/etc/haproxy/site.pem

    acl is_static path_end .css .js
    acl grafana_path path_beg /grafana
    acl prometheus_path path_beg /prometheus
    acl metrics_path path_beg /actuator/prometheus

    http-request deny if metrics_path
    http-request set-header X-Forwarded-Proto https

    http-response set-header X-Content-Type-Options nosniff
    http-response set-header X-Frame-Options DENY
    http-response set-header Referrer-Policy strict-origin-when-cross-origin
    http-response set-header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    use_backend grafana_app if grafana_path
    use_backend prometheus_app if prometheus_path
    default_backend schoodule_app

backend schoodule_app
    http-request cache-use static_cache if is_static
    http-response cache-store static_cache if is_static
    server schoodule schoodule:9500 check

backend grafana_app
    server grafana grafana:3000 check

backend prometheus_app
    server prometheus prometheus:9090 check
