global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s

frontend http
    bind *:80
    bind *:443 ssl crt /usr/local/etc/haproxy/site.pem
    default_backend schoodule_app

backend schoodule_app
    server schoodule schoodule:9500
