global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

listen stats
    bind *:8404 ssl crt /usr/local/etc/haproxy/site.pem
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin

frontend grafana_in
    bind *:3000 ssl crt /usr/local/etc/haproxy/site.pem
    default_backend grafana_backend

backend grafana_backend
    server grafana grafana:3000 check

frontend prometheus_in
    bind *:9090 ssl crt /usr/local/etc/haproxy/site.pem
    default_backend prometheus_backend

backend prometheus_backend
    server prometheus prometheus:9090 check

frontend http
    bind *:443 ssl crt /usr/local/etc/haproxy/site.pem
    http-request set-header X-Forwarded-Proto https
    default_backend schoodule_app

backend schoodule_app
    server schoodule schoodule:9500
